
Utilities/obj/Utilities.csproj.nuget.g.props
Utilities/obj/Utilities.csproj.nuget.dgspec.json
Utilities/obj/project.nuget.cache
Utilities/obj/project.assets.json
Utilities/obj/Debug/net6.0/Utilities.GeneratedMSBuildEditorConfig.editorconfig
Utilities/obj/Debug/net6.0/Utilities.csproj.AssemblyReference.cache
Utilities/obj/Debug/net6.0/Utilities.assets.cache
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/project.assets.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Domain/obj/project.nuget.cache
Domain/obj/project.assets.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net6.0/Domain.assets.cache
Application/obj/project.nuget.cache
Application/obj/project.assets.json
Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net6.0/Application.assets.cache
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.dgspec.json
API/obj/project.nuget.cache
API/obj/project.assets.json
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.assets.cache
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.dgspec.json
.vs/ManagementBackEndTestBranch/v17/.suo
.vs/ManagementBackEndTestBranch/v16/.suo
.vs/ManagementBackEndTestBranch/FileContentIndex/read.lock
.vs/ManagementBackEndTestBranch/FileContentIndex/18d67bce-d9d2-472d-9ae1-ae190003639d.vsidx
.vs/ManagementBackEndTestBranch/DesignTimeBuild/.dtbcache.v2
